* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 20%;
  margin-left: 30%;
  width: 405px;
}

p {
  text-align: center;
  margin-top: 35px;
  color: #fff;
}

.box1 {
  display: inline-block;
  width: 200px;
  height: 90px;
  background:  red;
  text-align: center;
}

.box2 {
  display: inline-block;
  width: 195px;
  height: 90px;
  margin-bottom: 5px;
  background: orange;
  text-align: center;

}

.box5 {
  display: inline-block;
  width: 195px;
  margin-left: 5px;
  height: 90px;
  background: green;
  text-align: center;

}

.box6 {
  float: left;
  width: 200px;
  height: 90px;
  background: purple;
  text-align: center;

}